:root {
  --bg: hsl(200, 7%, 9%);
}
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.loading {
  .container {
    opacity: 0;
  }

  .hero img {
    opacity: 0;
    transform: translateY(3px);
  }
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNS-Regular"), local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma");
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-size: 16px;
  background-color: var(--bg);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  transition: all .5s;
  flex-direction: column;
  @media (min-width: 48rem) {
    height: 100vh;
    flex-direction: row;
  }
}

.hero {
  width: 100%;
  margin-top: -80px;

  @media (min-width: 48rem) {
    width: 50%;
    height: 100%;
    margin-top: 0;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .5s;
  }
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  background-color: var(--bg);
  width: 90%;
  margin-top: -32px;
  position: relative;
  z-index: 1;

  @media (min-width: 48rem) {
    width: 50%;
    margin-top: 0;
  }

  @media (min-width: 80rem) {
    padding: 3rem;
  }

  .headline {
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba($color: #FFF, $alpha: .85);
  }
}

a {
  text-decoration: none;
}

.cta {
  background: hsl(200, 7%, 14%);
  border: 2px solid transparent;
  color: rgba($color: #FFF, $alpha: .8);
  font-size: 1rem;
  padding: .8rem 1rem;
  border-radius: 1.33rem;
  margin-top: 2rem;
  display: flex;
  font-weight: 400;
  transition: all .2s;

  &:hover {
    border-color: rgba(#fff, .5);
    background-color: transparent;
  }

  &:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/copy.svg") 0 0 no-repeat;
    background-size: 20px;
    margin-left: .5rem;
    opacity: .5;
  }
}


.network {
  margin-top: 3rem;

  a {
    opacity: .6;
    transition: all .2s;
    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: .8rem;
    }
  }
}